
.foodcards {
    display: flex;
    padding: 12px;
   
  
}
.card-body{
    max-width: 250px;
}
.full-cards a    {
    margin: 2px;
   

}
.foodcards{
    background-color: rgb(34, 31, 28);
}
.card{
    background-color: rgb(219, 219, 47);
}
.card-title{
    max-width: 250px;
    max-height: 100px;
overflow-wrap: normal ;
    overflow-x: hidden;
    overflow-y: hidden;
}
.btn-full {
    display: flex;
    justify-content: center;
    align-items: center;

}
